.vscode/**
.vscode-test/**
out/
**/node_modules
src/
**/.gitignore
package-lock.json
vite.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/*.nix
testFixture/

search-ui/**/index.html
search-ui/package.json
search-ui/src/**

goal-view-ui/**/index.html
goal-view-ui/package.json
goal-view-ui/src/**

pp-display/**/index.html
pp-display/package.json
pp-display/src/**
