language-server/_build
language-server/_opam
language-server/dm/dune
language-server/language/dune
language-server/protocol/dune
language-server/vsrocqtop/dune
language-server/vsrocq_boot/dune
language-server/mcpserver/dune
language-server/tests/dune
language-server/*/vsrocq_config.mlh
language-server/*.install
client/out/
.DS_Store
result
*.vsix
