.Block {
    /* border-bottom: 2pt solid; */
    padding: 0pt;
    padding-bottom: 1em;
    margin: 0;
}

.FilterMessage {
    color: var(--vscode-descriptionForeground);
    font-style: italic;
    list-style: none;
    margin-bottom: 0.5em;
}
